/* <----------------------------------------------------------- Media Quiries ----------------------------------------------------------------> */

@media (max-width: 991.9px) {
    .lg_view {
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-image: url(../images/png/Hero_sec_back_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
        background: var(--black-color);
        z-index: 4;
    }

    .menuicon {
        z-index: 5;
        margin-top: 10px;
    }

    .show {
        left: 0;
    }

    .mx_12px {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }

    .mb_media {
        margin-bottom: 140px;
    }

    .mt_btn_media {
        margin-top: 32px;
    }

    .d_none {
        display: none !important;
    }

    .min_h_media {
        min-height: 130px !important;
        max-width: 1140px;
    }

    .pro_section .inner-container::after {
        left: 176px !important;
    }

    .pro_section .timeline-item {
        &::before {
            left: 131px !important;
        }
    }

    .pro_section .min_h_media {
        min-height: 131px !important;
        max-width: 1140px;
    }

    .px_max_lg_0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


@media (min-width: 992px) {
    .min-vh-lg-100 {
        min-height: 91vh;
    }

    .mt_btn_media {
        margin-top: 32px;
    }

    .px_media {
        padding-right: 142px;
    }

    .max_w_grant_text {
        max-width: 338px;
        min-height: 52px;
        margin-left: 46px;
    }

    .ms_15px {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .fs_lh_heading {
        font-size: var(--fs-50) !important;
        line-height: var(--lh-56) !important;
    }

    .fs_lh_hero_box {
        font-size: var(--fs-50);
        line-height: var(--lh-60);
    }

    .mb_media {
        margin-bottom: 100px !important;
    }

    .mt_btn_media {
        margin-top: 20px;
    }

    .max_w_tab_text {
        max-width: 524px;
        min-height: 0;
    }

    .box_corona {
        max-width: 535px !important;
        min-height: 0 !important;
        border-radius: 24px;
        transition: all 300ms linear;
    }

    .opa_50 {
        opacity: 50%;
    }

    .p_slider_media {
        padding: 30px !important;
    }

    .text_pos {
        left: 145px !important;
    }

    .pro_section .text_pos {
        left: 185px !important;
    }

    .min_h_media {
        min-height: 170px !important;
        max-width: 1140px;
    }

    .pro_section .inner-container::after {
        left: 140px !important;
    }

    .pro_section .timeline-item {
        &::before {
            left: 126px !important;
        }
    }

    .pro_section .min_h_media {
        min-height: 150px !important;
    }

    .back_history {
        background-position: left !important;
    }

    .min_h_media_change {
        min-height: 240px !important;
    }
}

@media (max-width: 1200px) {

    .prev,
    .next {
        display: none !important;
    }
}


@media (min-width: 768px) {
    .pro_section .timeline-item {
        &::before {
            left: 157px !important;
        }
    }

    .pro_section .min_h_media {
        min-height: 122px !important;
        max-width: 1140px;
    }

    .pe_20px {
        padding-right: 20px;
    }

    .ps_20px {
        padding-left: 20px;
    }

    .pe_38px {
        padding-right: 38px;
    }

    .ps_33px {
        padding-left: 33px;
    }
}

@media (min-width: 576px) {
    .px_51px {
        padding-right: 51px !important;
        padding-left: 51px !important;
    }

    .pro_section .timeline-item {
        &::after {
            font-size: var(--fs-20) !important;
        }
    }

    .max_w_dive_sec {
        max-width: 534px;
        min-height: 302px;
    }
}

@media (max-width: 576px) {
    .fs_lh_change {
        font-size: var(--fs-30) !important;
        line-height: var(--lh-39) !important;
    }

    .fs_lh_hero_box {
        font-size: var(--fs-30);
        line-height: var(--lh-39);
    }

    .fs_lh_heading {
        font-size: var(--fs-40) !important;
        line-height: var(--lh-49) !important;
    }

    .fs_sub_text {
        font-size: var(--fs-14) !important;
        line-height: var(--lh-23) !important;
    }

    .fs_prop_box {
        font-size: var(--fs-16) !important;
        line-height: var(--lh-23) !important;
    }

    .fs_lh_some_heading {
        font-size: var(--fs-36);
        line-height: var(--lh-46);
    }

    .px_12px_max_sm {
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb_media {
        margin-bottom: 140px !important;
    }

    .min_h_media {
        min-height: 270px !important;
        max-width: 1140px;
    }

    .timeline-item {
        &::after {
            font-size: var(--fs-16) !important;
        }

        &::before {
            width: 30px !important;
            height: 30px !important;
            left: 66px;
        }
    }

    .text_pos {
        left: 130px !important;
    }

    .pro_section .text_pos {
        left: 140px !important;
    }

    .pro_section .text_pos {
        left: 180px !important;
    }

    .pro_section .min_h_media {
        min-height: 300px !important;
    }

    .pro_section .timeline-item {
        &::after {
            font-size: var(--fs-16) !important;
        }
    }

    .p_slider_media {
        padding: 12px !important;
    }

    .pro_section .inner-container::after {
        left: 115px !important;
    }

    .pro_section .timeline-item {
        &::before {
            left: 101px !important;
        }
    }

    .pro_section .text_pos {
        left: 153px !important;
    }

    .wd_change_2::after {
        width: 280px !important;
        left: 50% !important;
    }

    .fs_head_text {
        font-size: var(--fs-20) !important;
    }

    .ms_12px {
        margin-left: 12px;
    }

    .min_h_media_change {
        min-height: 400px !important;
    }
}