@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica.ttf);
}

/* <---------------------------------------------------- universal Selector --------------------------------------------------------> */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* <----------------------------------------------------------- root ----------------------------------------------------------------> */

:root {
    /* colors */
    --color-white: #FFFFFF;
    --black-color: #000000;
    --primary-color: rgba(243, 106, 62, 1);
    --light-black-clr: rgba(0, 0, 0, 0.7);
    --theme-sec-color: #FFFEFE;
    --sec-back-clr: #f9f9f9;
    --footer-clr: #070707;
    --slider-back-clr: F9F9F9;
    --blue_color: #0000EE;
    --white_footer_line: rgba(250, 250, 250, 0.2);
    --lg-back-sec: linear-gradient(to bottom, #FFFFFF 50%, #070707 50%);
    --nav_link: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
    --inside_slick_div: #0000000A;
    --box_color: linear-gradient(121.85deg, rgba(119, 176, 0, 0.02) -1.54%, rgba(0, 216, 99, 0.02) 98.96%);
    --box-line-clr: linear-gradient(270deg, rgba(253, 252, 252, 0) 0%, #FDFCFC 51.55%, rgba(253, 252, 252, 0) 100%);
    --our-vision: linear-gradient(130.88deg, rgba(168, 84, 233, 0.12) -9.14%, rgba(79, 145, 252, 0.12) 283.16%);
    --service-svg-color: linear-gradient(130.88deg, rgba(168, 84, 233, 0.16) -9.14%, rgba(79, 145, 252, 0.16) 283.16%);
    --coron_lg_color: linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    --text-light-white-color: #FCF9F6;
    --prize_text_color: rgba(215, 200, 174, 1);
    --time_text_color: rgba(177, 174, 172, 1);
    --get_btn: #F36A3E;
    --nav_btn_clr: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    --corona_sec_color: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    --grant-text-color: #1A1A1A;
    --hover_box_corona: #CA99443D;
    /* font-family */
    --fm-poppins: "Poppins", sans-serif;
    --fm-sans-racing: "Racing Sans One", sans-serif;
    --fm-imbue: "Imbue", serif;
    --fm-plus-sans: "Plus Jakarta Sans", sans-serif;
    --fm-rubik: "Rubik", sans-serif;
    --fm-gara: "EB Garamond", serif;
    --fm: 'Helvetica';
    /* style */

    --font-style: italic;
    /* letter spacing */

    --ls-main-heading: 0.2em;
    --ls-hero-text: -1.27px;

    /* font weight */
    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-23: 23px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-43: 43px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-54: 54px;
    --fs-59: 59px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-100: 100px;
    --fs-157: 157px;


    /* lh */
    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-36: 36px;
    --lh-38: 38px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-60: 60px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* <----------------------------------------------------------- different containers ----------------------------------------------------------------> */

.container_hero {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_accordion {
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_tools {
    max-width: 1067px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_security_trust {
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_948px {
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_footer {
    max-width: 1118px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.sol_cont {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* <----------------------------------------------------------- spacified root value ----------------------------------------------------------------> */

.fm_sans_racing {
    font-family: var(--fm-sans-racing);
}

.fm_imbue {
    font-family: var(--fm-imbue);
}

.fm-sans {
    font-family: var(--fm-plus-sans);
}

.primary_color {
    background: var(--primary-color);
}

.fm-gara {
    font-family: var(--fm-gara);
}

.fm {
    font-family: var(--fm);
}

.btn_back_clr {
    background: var(--primary-color);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-12 {
    font-size: var(--fs-12);
}

.light_white_clr {
    color: var(--text-col-clr);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.lh-38 {
    line-height: var(--lh-38);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-60 {
    line-height: var(--lh-60);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_main {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.text_black {
    color: var(--black-color);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.cursor {
    cursor: pointer;
}

.light_black_clr {
    color: var(--light-black-clr);
}

/* <----------------------------------------------------------- Normal CSS ----------------------------------------------------------------> */

.hero_main_text {
    background: var(--nav_btn_clr) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.cont_prop {
    box-shadow: 0px 4px 20px 0px rgba(182, 182, 182, 0.25);
    background: var(--color-white);
}

.lg_text_civica {
    background: var(--coron_lg_color) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.time_text {
    background: var(--coron_lg_color) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.prize_text {
    color: var(--prize_text_color);
}

.changed_white_color {
    color: var(--text-light-white-color);
}

.input_email {
    outline: none;
    border: 1px solid #FFFFFF29;
    background: transparent;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}

/* <----------------------------------------------------------- Backimages or BackColor ----------------------------------------------------------------> */

.hero_back_img {
    background-image: url("../images/png/Hero_sec_back_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.back_slider_img {
    background-image: url(../images/png/slider_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back_history {
    background-image: url("../images/png/second_tab_section_back_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timeline_back {
    background-image: url("../images/png/timeline_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pro_section {
    background-image: url("../images/png/pro_sec_back_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back_gif {
    background: var(--nav_btn_clr);
}

.play_back {
    background: var(--nav_btn_clr);
    width: 128px;
    height: 34px;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.back_corona_image {
    background-image: url("../images/png/corona_civica_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grant_text_color {
    color: var(--grant-text-color);
}

/* <----------------------------------------------------------- width and height ----------------------------------------------------------------> */

.nav_title {
    width: 116px;
    height: 55.85px;
}

.footer_flow {
    width: 32px;
    height: 32px;
    border-radius: 99px;
    background: var(--nav_btn_clr);
    transition: all 300ms linear;
}

.svgs_box {
    width: 128px;
    height: 32px;
}

.min_h_media_change {
    min-height: 122px;
}

.max_w_text_faq {
    max-width: 730px;
    min-height: 52px;
}

.slick-slide>div {
    max-width: 1000px !important;
}

.slick-slide {
    max-width: 1000px !important;
}

.svg_box {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.top_box {
    max-width: 1000px;
    min-height: 166px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 4px #D8D8D840;
}

.slider_box {
    max-width: 1000px;
    min-height: 456px;
    padding: 40px 0px 0px 0px;
    border-radius: 24px;
    background: var(--color-white);
}

.max_w_time_section {
    max-width: 647px;
    min-height: 94px;
}

.time_section {
    max-width: 709px;
    min-height: 729px;
}

.svg_time_section {
    padding: 19px;
    background: var(--nav_btn_clr);
    border-radius: 50%;
}

.bottom_box {
    max-width: 432px;
    min-height: 58px;
    padding: 10px 20px 10px 20px;
    border-radius: 4.63px;
    box-shadow: 0px 0px 15.44px 3.09px #D8D8D840;
    background: var(--color-white);
}

.rank_box {
    max-width: 223px;
    min-height: 144.14px;
    background-image: url("../images/png/02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rank_box_3 {
    max-width: 223px;
    min-height: 144.14px;
    background-image: url("../images/png/03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rank_box_2 {
    max-width: 223px;
    min-height: 144.14px;
    background-image: url("../images/png/01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max_corona_text {
    max-width: 662px;
    min-height: 52px;
}

.lorem_max_W {
    max-width: 436px;
    min-height: 78px;
}

.tab_cont {
    /* max-width: 485px; */
    min-height: 128px;
    border-radius: 8px;
    transition: all 300ms linear;
}

.svg_cont {
    width: 36px;
    height: 36px;
    background: var(--nav_btn_clr);
    border-radius: 50%;
}

.max_w_tab_text {
    max-width: 524px;
    min-height: 110px;
}

.box_corona {
    max-width: 364px;
    min-height: 276px;
    border-radius: 24px;
    transition: all 100ms linear;
}

.svg_icon_corona {
    width: 40px;
    height: 40px;
    background: var(--nav_btn_clr);
    padding: 8.75px 10.25px 8.14px 11.25px;
    border-radius: 23.08px;
}

/* <-----------------------------------------------------------spacings ----------------------------------------------------------------> */
.py_29px {
    padding-top: 29px;
    padding-bottom: 29px;
}

.pt_footer_media {
    padding-top: 84px;
}

.mt_22px {
    margin-top: 22px;
}

.p_accord {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.mt_10px {
    margin-top: 10px;
}

.mt_24px {
    margin-top: 24px;
}

.py_faq {
    padding-top: 150px;
    padding-bottom: 84px;
}

.py_history {
    padding-top: 125px;
    padding-bottom: 156px;
}

.py_media_sec {
    padding-top: 130px;
    padding-bottom: 130px;
}

.pb_64px {
    padding-bottom: 64px;
}

.mb_117px {
    margin-bottom: 117px;
}

.p_slider_media {
    padding: 40px;
}

.pe_29px {
    padding-right: 41px;
}

.ps_29px {
    padding-left: 41px;
}

.top_box {
    margin-left: auto;
    margin-right: auto;
}

.container_slider {
    max-width: 1000px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* .slick-slide {
    margin-left: 27px;
}

.slick-list {
    margin-left: -27px;
} */

.p_top_box {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 28px;
    padding-right: 28px;
}

.mb_20px {
    margin-bottom: 20px;
}

.my_38px {
    margin-top: 38px;
}

.py_dive {
    padding-top: 101px;
    padding-bottom: 48px;
}

.py_20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gap_20px {
    gap: 20px;
}

.py_media_bet_sec {
    padding-top: 120px;
    padding-bottom: 120px;
}

.my_120px {
    margin-top: 120px;
    margin-bottom: 120px;
}

.ps_30px {
    padding-left: 30px;
}

.gap_12px {
    gap: 12px;
}

.mt_32px {
    margin-top: 32px;
}

.gap_36px {
    gap: 36px;
}

.px_12px {
    padding-left: 12px;
    padding-right: 12px;
}

/* media screen spacing */

.py_media_tab {
    padding-top: 90px;
    padding-bottom: 90px;
}

.mt_media_rank {
    margin-top: 88px;
}

.py_media_corona {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mt_media_corona {
    margin-top: 117px;
}

/* end */
.gap_10px {
    gap: 10px;
}

.py_prop_sec {
    padding-top: 44px;
    padding-bottom: 38px;
}

.py_12px {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mb_32px {
    margin-bottom: 32px;
}

.tab_cont {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 32px;
}

/* <-----------------------------------------------------------btn changes ----------------------------------------------------------------> */

.submit_btn {
    background: var(--nav_btn_clr) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.lg_text {
    background: var(--nav_btn_clr) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* <----------------------------------------------------------- positions ----------------------------------------------------------------> */

/* ellpse posiiton */

.ellipse_pos_slider {
    top: 0;
    left: 0;
}

.ellipse_pos_gif {
    top: -175px;
    left: 0;
}

.ellipse_pos_tab {
    top: -40%;
    right: 0;
}

.line_pos_tab {
    top: -63%;
    left: -7%;
}

.ellipse_pos_corona {
    top: -25%;
    left: 0;
}

.ellipse_pos_corona_right {
    right: 0;
    bottom: 0;
}

.ellipse_pos_slider_bottom {
    bottom: 0;
    right: 0;
}

.ellipse_pos_timeline {
    top: 0;
    left: 0;
}

.ellipse_pos_timeline_bottom {
    bottom: 0;
    right: 0;
}

.top_image_pos {
    top: 0;
    left: 0;
}

.bottom_image_pos {
    bottom: 0;
    right: 0;
}

.top_image_pos {
    top: 0;
    left: 0;
}

.bottom_image_pos {
    bottom: 0;
    right: 0;
}

.ellipse_pos_timeline_top_right {
    top: 0;
    right: 0;
}

.image_pos_faq {
    top: 0;
    right: 0;
}

.image_pos_faq_top {
    top: 0;
    transform: rotate(180deg);
}

.top_image_pos_history {
    top: 0;
    left: 0;
}

.bottom_image_pos_history {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.image_pos_faq_bottom {
    top: 25%;
    left: 0;
}

/* end */

.border_btm {
    position: relative;
    transition: all 100ms linear;
}

.prev {
    left: 0 !important;
    top: 50% !important;
    border-radius: 50%;
}

.next {
    right: 0 !important;
    top: 50% !important;
    border-radius: 50%;
}

.prev:hover {
    background: var(--nav_btn_clr);
}

.prev:hover svg path {
    stroke: var(--color-white) !important;
}

.next:hover {
    background: var(--nav_btn_clr);
}

.next:hover svg path {
    stroke: var(--color-white) !important;
}

.images_pos {
    right: 0;
    top: -50px;
}

.svg_box {
    position: relative;
}

.slider_box {
    position: relative;
}

.time_image_pos {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pole_image_pos {
    bottom: 17px;
    right: 28px;
}

.bottom_image_pos {
    right: 0;
    bottom: 0;
}

.tab_open_btn {
    border-right: 1px solid #FFFFFF52;
}

.box_corona {
    position: relative;
}

.random_painting {
    bottom: 0;
    right: 0;
}

.nav_link {
    position: relative;
    transition: all 300ms linear;
}

.step_pos {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.cont_prop {
    position: relative;
}

.cont_prop {
    position: relative;
    transform: translateY(-89px);
    border-radius: 16px;
}

.play_back {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.pole_pos {
    bottom: 16px;
    left: 20px;
}

.tab_cont {
    position: relative;
}

/* <----------------------------------------------------------- borders, before and after and Hover Effects ----------------------------------------------------------------> */
.cont_prop::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.footer_link {
    color: var(--color-white);
    opacity: 0.7;
    transition: all 300ms linear;
    position: relative;
}

.footer_link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--nav_btn_clr);
    transform: translateX(-50%);
    transition: all 300ms linear;
}

.footer_link:hover::after {
    width: 100%;
    bottom: -3px;
}

.footer_flow:hover {
    background: var(--color-white);
}

.footer_flow:hover svg path {
    fill: url(#paint0_linear_51195_1752);
}

.footer_link:hover {
    opacity: 1 !important;
    color: var(--color-white) !important;
}

.tabs.appear {
    position: relative;
}

.tabs.appear::after {
    content: "";
    position: absolute;
    inset: 0;
    /* border-radius: 16px; */
    padding-right: 8px;
    background: #E0B764;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.footer_bottom_line {
    width: 100%;
    height: 2px;
    background: #FCF9F64D;
}

.disp_text {
    display: none;
}

.accord_border {
    position: relative;
}

.accord_border::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.tab_cont::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding-left: 1px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.border_top {
    border-top: 1px solid #FFFFFF52;
}

.border_bottom {
    border-bottom: 1px solid #FFFFFF52;
}

.top_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.svg_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 2px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.slider_box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--nav_btn_clr);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.box_corona::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: var(--corona_sec_color);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.full::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: var(--coron_lg_color);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.tab_btn_1,
.tab_btn_2,
.tab_btn_3 {
    cursor: pointer;
}

.full {
    box-shadow: 0px 0px 20px 4px rgba(216, 216, 216, 0.25);
    border-radius: 16px;
}

.brdr_bottom {
    border-bottom: 2px solid #0000003D;
}

.changing_text {
    min-height: 168px;
}

.border_btm::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 150px;
    height: 1px;
    background: var(--nav_btn_clr);
    transition: all 100ms linear;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 3px;
}

.wd_change::after {
    width: 180px !important;
    left: 51% !important;
}

.wd_change_2::after {
    width: 330px;
    left: 50%;
}

.timeline_back .wd_change::after {
    width: 264px !important;
    left: 50% !important;
}

.submit_btn {
    background: transparent;
    border: none;
    position: relative;
    transition: all 100ms linear;
}

.border_btm:hover::after {
    height: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.box_corona:hover {
    background: var(--hover_box_corona);
}

.box_corona:hover::after {
    padding: 0 !important;
}

.border_btm:hover .submit_btn {
    background: var(--color-white) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: var(--color-white) !important;
    z-index: 10;
}

.border_btm .svg_btn svg path {
    fill: var(--nav_btn_clr) !important;
}

.border_btm:hover .svg_btn svg path {
    stroke: var(--color-white) !important;
}

.svg_btn {
    width: 24px;
    height: 24px;
}

/* .svg_btn svg {
    z-index: 10 !important;
} */

.nav_link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: var(--nav_btn_clr);
    transition: all 300ms linear;
}

.nav_link:hover::after {
    width: 100%;
    bottom: -5px;
}

.nav_link:hover {
    opacity: 1 !important;
}

.brdr_rad {
    border-radius: 16px;
}

.brdr_rad_gif {
    border-radius: 6px;
}

/* <----------------------------------------------------------- Timeline ----------------------------------------------------------------> */

.text_color {
    color: var(--time_text_color);
}

ol,
ul {
    padding-left: 0;
}

/* TIMELINE */

#timeline-container {
    .inner-container {
        margin: 0 auto;
    }
}

.timeline {
    margin: 0 auto;
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.inner-container {
    position: relative;
}

.inner-container::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: var(--coron_lg_color);
    top: 25px;
    left: 128px;
    z-index: -1;
}

.pro_section .inner-container::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: var(--coron_lg_color);
    top: 25px;
    left: 175px;
    z-index: -1;
}

.pt_31px {
    padding-top: 31px !important;
}

.text_pos {
    left: 200px;
}

.pro_section .text_pos {
    left: 230px;
}

.line_bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #D7C8AE52;
    height: 1px;
}

.min_h_media {
    min-height: 131px;
    max-width: 1140px;
}

.changed_h {
    min-height: 100px;
}

.pro_section .text_pos {
    padding-right: 0;
}

.timeline-item {
    color: #ffffff;
    font-family: var(--fm);
    text-align: left;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    list-style-type: none;

    &::after {
        content: attr(data-date);
        position: absolute;
        right: calc(var(--item-width) + -73px);
        font-family: var(--fm);
        top: 16px;
        float: right;
        font-size: var(--fs-24);
        line-height: var(--lh-38);
        white-space: nowrap;
        font-weight: var(--fw-700);
    }

    &::before {
        content: "";
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url("../images/png/timeline_dot_img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 110px;
        top: 21px;
        z-index: 3;
    }

    &:last-child {
        border-bottom: none;
    }
}

@media only screen and (max-width: 768px) {
    .timeline-item {
        &::after {
            font-size: var(--fs-20) !important;
        }

        &::before {
            width: 30px !important;
            height: 30px !important;
            left: 75px;
        }
    }

    .inner-container::after {
        left: 90px !important;
    }

    /* .pro_section .inner-container::after {
        left: 110px !important;
    } */
}


/* TIMELINE end */

/* <----------------------------------------------------------- AOS ----------------------------------------------------------------> */
.overflow-X-hidden {
    overflow-x: hidden !important;
}

/* <----------------------------------------------------------- Preloader ----------------------------------------------------------------> */

.loader {
    width: 150px;
    height: 150px;
    background-color: #E0B764;
    border-radius: 50%;
    position: fixed;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
        0 5px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.preloader {
    background-image: url(../images/png/pro_sec_back_image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 101 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pos_title {
    position: relative;
    top: -50px;
    left: 30px;
}

.title_image {
    width: 100px;
    height: 50px;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    top: -40%;
    background-color: #fff;
    animation: wave 5s linear infinite;
}

.loader:before {
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.4);
    animation: wave 5s linear infinite;
}

.loaders {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: var(--fs-30);
    color: #0000;
    background: linear-gradient(90deg, #fff 25%, #eb9e04 0 50%, #E0B764 0 75%, #F4EAD8 0) 0 0/400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 200px;
    margin-left: 60px;
    animation: l10 5s infinite cubic-bezier(0.3, 1, 0, 1);
}

.loaders:before {
    content: "The Julian Project..."
}

.-top-105 {
    top: -105%;
}

@keyframes l10 {
    25% {
        background-position: calc(1*100%/3) 0
    }

    50% {
        background-position: calc(2*100%/3) 0
    }

    75% {
        background-position: calc(3*100%/3) 0
    }

    100% {
        background-position: calc(4*100%/3) 0
    }
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* <----------------------------------------------------------- scroll to top ----------------------------------------------------------------> */

.scroll_top,
.scroll_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: all 300ms linear;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box img {
    transform: rotate(180deg);
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px -3px #eb9e04;
}


/* <----------------------------------------------------------- Progress ----------------------------------------------------------------> */


.headers {
    position: fixed;
    top: 0;
    z-index: 59;
    width: 100%;
    background-color: var(--color-white);
}

.progress-container {
    width: 100%;
    height: 8px;
    background: var(--color-white);
    opacity: 50%;
}

.progress-bar {
    height: 8px;
    background: #eb9e04;
    width: 0%;
}

/* <----------------------------------------------------------- z-indexes ----------------------------------------------------------------> */

.z-4 {
    z-index: 4;
}

.-z-1 {
    z-index: -1;
}

.z-10 {
    z-index: 10 !important;
}

/* <----------------------------------------------------------- animated menuicon ----------------------------------------------------------------> */

#nav-icon2 {
    width: 60px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menuicon {
    z-index: 20;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: var(--nav_btn_clr);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}